@import '../../../styles/_colors.scss';
@import '../../../styles/_fonts.scss';

.Dropdown {
  background: $white;
  display: block;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid $white;
  transition: all 150ms ease-in;
  box-shadow: 0px 0px 70px -9px rgba(0,0,0,0.25);
  margin-top: 25px;
  display: flex;
  align-items: center;

  &:first-child { margin-top: 50px }

  &.hasButton {
    padding: 3px 3px 3px 20px;
    input { width: 400px }
  }

  &.isTransparent {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    opacity: .8;
    justify-content: center;

    select {
      background: none;
      color: white;
      font-family: $fontFamily;
      border: none;
      font-size: 16px;
      ;
      padding: 10px;
      line-height: 28px;
      width: 318px;
      &::placeholder { color: $white }
    }

    .inputIcon {
      top: 0;
      color: $white;
      svg > path, svg > g, svg { stroke: $white }
    }

    &:focus, &:hover {
      background: $white;
      border: 1px solid $white;
      box-shadow: 0px 0px 70px -9px rgba(0,0,0,0.25);
      color: $darkBlueGrey;
      opacity: 1;
      justify-content: start;

      .inputIcon {
        color: $darkBlueGrey;
        svg > path, svg > g, svg { stroke: $darkBlueGrey }
      }

      select {
        color: $darkBlueGrey;
        width: 88%;
        &::placeholder { color: $darkBlueGrey }
      }
    }
  }

  .inputIcon {
    position: relative;
    margin: 0 5px 0 10px;
    // top: 4px;
    color: $darkBlueGrey;
    svg > path, svg > g, svg { stroke: $darkBlueGrey }
  }

  select {
    background: none;
    color: white;
    font-family: $fontFamily;
    border: none;
    font-size: 16px;
    ;
    padding: 10px;
    line-height: 28px;
    width: 88%;
    &::placeholder { color: $white }
    &:focus, &:hover { color: $darkBlueGrey }
  }
}