.DashboardHeader {
  text-align: center;
  padding: 100px 0 125px;
}

.DashboardContent {
  padding-bottom: 10px;
  padding-top: 60px !important;

  @media (min-width: 768px) { padding-top: 100px !important }

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
}
