@import '../../../styles/_colors.scss';

.DashboardNavbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  background: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.03);
  height: 70px;

  .logo {
    svg {
      position: relative;
      top: 2px;
    }
  }

/*  &.transparent {
    background: transparent;
    box-shadow: none;

    .navItem {
      color: white;

      svg > g { stroke: white }
      svg > text { fill: white }
      &.button { svg > g { stroke: white } }
    }
  }
  */

  .navSection {
    padding: 0;
    margin: 15px 0;
    .mui-container {
      max-width: 100%!important;
    }
  }

  .navRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .linkGroup {
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    z-index: 1002;
    width: 250px;

    &.right {
      justify-content: flex-end;
      align-items: center;
    }

    a:not(:last-child) {
      margin-right: 25px;

      @media (min-width: 768px) { margin-right: 75px }
    }
  }

  .navItem {
    color: $blueGrey;

    &.active { border-bottom: 1px solid $blueGrey }

    &.button {
      background: none;
      padding: 0;
      margin: 0;
      box-shadow: none;
      height: 40px;
      width: 20px;

      svg > g { stroke: $blueGrey }
    }
  }
}