@import '../../styles/_colors.scss';

.PrivacyPage {
}

.ourMissionContent {
  font-size: 28px;
  ;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: $blueGrey;
}
