@import '../../../styles/_colors.scss';

.OurMission {
  max-width: 100vw;
  text-align: center;
  background: transparent;
  position: relative;

  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.05);

    h1 {
      color: $white;
      object-fit: contain;
      font-size: 36px;
      ;
      line-height: 1.14;
      text-align: center;
      text-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
      margin: 100px 0 50px;

      @media (min-width: 768px) {
        font-size: 54px;
        letter-spacing: 1px;
      }
    }
  }

  .image {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .button {
    z-index: 2;
    position: relative;
  }
}
