@import '../../../styles/_colors.scss';
@import '../../../styles/_fonts.scss';

.WelcomeMat {
  max-width: 100vw;
  // margin-top: 10px;
  text-align: left;
  position: relative;
  background: $homepageBackgroundColor;

  .section {
    height: 100%;
    min-height: calc(100vh - 260px);
    display: flex;
    align-items: center;
    padding: 100px 0 50px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 100px;
    @media (max-width: 600px) {
      padding: 0 30px!important;
      align-items: center;
      // text-align: center;
    }
  }

  .button {
    z-index: 2;
    position: relative;
    margin: 5px 15px;
    width: 280px;
    letter-spacing: 1.25px;
    @media (min-width: 768px) {
      width: 250px;
    }
  }

  p {
    color: $primaryTextColor;
    white-space: pre-line;
    font-size: 28pt;
    font-family: $headerFontFamily;
    font-weight: 700;
    padding-bottom: 40px;
    line-height: 1.3;
    @media (max-width: 1218px) {
      font-size: 25pt;
    }
    @media (max-width: 1088px) {
      font-size: 22pt;
    }
    @media (max-width: 600px) {
      font-size: 15pt;
    }
  }
}
