// VIVID BLUES AND ORANGE: #34, http://blog.visme.co/website-color-schemes/#attachment_13279
// QUIVER COLORS: http://quiver.madebyburo.com/about
$white: #f4f4f4;
$black: #000000;
$darkGray: #21252a;
$lightGray: #7c8a96;
$lighterGray: #8D95A6;
$blue: #1b9ce5;
$green: #16D4B1;
$orange: #F79E02;
$gray: #a5afb8;

$coralPink: #fd5c63;
$blueGrey: #5d6b81;
$darkBlueGrey: #3b485b;
$paleGrey: #f8f7f9;
$darkPaleGrey: #f1eff4;
$niceBlue: #1565c0;
$primaryTextColor: #202d4a;
$backgroundColor: #e0e3e6;
$modalBackgroundColor: #e7eaec;
$homepageBackgroundColor: #fafafa;
$success: #44aa81;
$warn: #cb4950;
$info: #4478e9;

// GRADIENTS & SHADOWS
$gradient: linear-gradient(135deg, rgba(71,236,199,1) 0%, rgba(73,200,250,1) 50%, rgba(58,114,250,1) 100%);
$boxShadow: 0px 10px 40px rgba(0,0,0,0.05);
$shadow: 0 25px 50px 20px rgba(0,0,0,0.2);
$boxShadowMiddle: 0px 10px 15px rgba(0,0,0,0.1);
