// $fontFamily: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', sans-serif;
$headerFontFamily: wes-fy,lato,"helvetica neue",helvetica,arial;
$fontFamily: lato,"helvetica neue",helvetica,arial;
$cardFontFamily: pwp-ocr;