@import '../../../styles/_colors.scss';
@import '../../../styles/_fonts.scss';

%card-text {
  font-family: $cardFontFamily;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.8px;
  text-align: left;
  color: $blueGrey;
  // margin: 0;
}

.card {
  position: relative;
  box-sizing: border-box;
  margin: 10px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: $boxShadowMiddle;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  width: 291px;
  height: 187.5px;
  border-radius: 9px;
  // background-color: $lightGray;
  background-size: cover;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .logoText {
    margin-top: -14px;
    p {
      display: inline-block;
      text-align: left;
      margin: 0 auto;
      color: $blueGrey;
    }
  }

  .top {
    margin-top: 50px;

    &.sample {
      margin-top: 40px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    width: 256px;
    align-items: center;
    position: absolute;
    bottom: 20px;
    svg {
      width: 36px;
      height: 22px;
    }
  }

  .logo {
    svg {
      z-index: 1;
      height: 60px;
      position: absolute;
      top: -12px;
      left: -8px;
    }
  }

  &.nameOnly {
    width: 220px;
    min-width: 220px;
    height: 142px;

    .bottom {
      width: 195px;
      bottom: 10px;
      svg {
        width: 30px;
        height: 18px;
      }
    }
    .logo svg { height: 55px }
  }

  &.mid {
    width: 255.2px;
    height: 164.7px;
    .bottom {
      width: 225.2px;
      bottom: 15px;
    }
  }

  &.mini {
    background-color: rgba(235, 142, 169, 0.9);
    width: 37px;
    height: 24px;
    border-radius: 3px;
    box-sizing: content-box;
    margin: 0;
    padding: 0;

    .content {
      width: 10px;
      height: 19px;
      font-family: $cardFontFamily;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2px;
      text-align: center;
      color: $blueGrey;
      z-index: 1;
    }

    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media(max-width: 767px) {
      width: 26px;
      height: 16.9px;
      border-radius: 2.1px;

      .content {
        font-size: 9.8px;
        height: 11px;
        width: 6px;
      }
      .background { border-radius: 2.1px }
    }
  }

  .gradientBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    padding: 20px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

.newCard {
  position: relative;
  box-sizing: border-box;
  margin: 10px 10px;
  border-radius: 5px;
  box-shadow: $boxShadowMiddle;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  width: 291px;
  height: 187.5px;
  border-radius: 9px;
  // background-color: $lightGray;
  background-size: cover;
  padding: 0;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .top {
    margin-top: 50px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    width: 256px;
    align-items: center;
    position: absolute;
    bottom: 20px;
  }

  .logo {
    svg {
      height: 60px;
      position: absolute;
      top: -14px;
      left: -10px;
    }
  }

  &.nameOnly {
    width: 220px;
    min-width: 220px;
    height: 142px;

    .bottom {
      width: 195px;
      bottom: 10px;
      svg {
        width: 30px;
        height: 18px;
      }
    }
    .logo svg { height: 55px }
  }

  &.mid {
    width: 255.2px;
    height: 164.7px;
    .bottom {
      width: 225.2px;
      bottom: 15px;
    }
  }

  &.mini {
    background-color: rgba(235, 142, 169, 0.9);
    width: 37px;
    height: 24px;
    border-radius: 3px;
    box-sizing: content-box;
    margin: 0;
    padding: 0;

    .content {
      width: 10px;
      height: 19px;
      font-family: $cardFontFamily;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2px;
      text-align: center;
      color: $blueGrey;
      z-index: 1;
    }

    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .gradientBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 9px;
    // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    padding: 15px;
    box-sizing: border-box;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 9px;
    padding: 20px;
    box-sizing: border-box;
  }
}

.name {
  @extend %card-text;
  font-size: 14px!important;
  font-family: $fontFamily;
  text-transform: uppercase;
  width: 50px;
  // margin-left: 60px;
}

.account { @extend %card-text; }

.expiration {
  @extend %card-text;
  opacity: 0.95;
}

.cvv {
  @extend %card-text;
  opacity: 0.95;
}

.small {
  font-size: 12px;
  letter-spacing: 2px;
}

.nameOnly {
  font-size: 10px;
  letter-spacing: 0.8px;
  font-weight: 600;
}