@import '../../../styles/_colors.scss';

.Instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .step {
    h1 {
      font-size: 28px;
      ;
      color: $white;
    }

    p {
      font-size: 18px;
      ;
      color: $white;
    }

    max-width: 300px;
  }
}