@import '../../../styles/_colors.scss';

.Card {
  background: $white;
  max-width: 745px;
  margin: 10px auto;
  padding: 25px 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: $boxShadow;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 70px 80px;
  }

  &.fluid {
    width: 100%;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
    position: relative;
    top: 75px;
    margin-bottom: -100px;
    margin-top: -100px;
  }
}